
@charset "utf-8";

*{ margin : 0; padding : 0;}
ul,li{ list-style: none;}
img{ display: block;}
html,body{ height:100%;}
.clearfix:after{ content:""; display: block; clear:both;}
#main{ height: 100%; display: flex; flex-direction:column;}
#content{ flex:1; overflow:auto; width: 100vw; position: relative; display: flex; flex-direction:column;}

table{border-collapse:collapse;}
.van-nav-bar{
	background: #37c0c4;
	height: 46px;
	width: 100vw;
	line-height: 46px;

}
.van-nav-bar__title{
	color: #fff;
}
.van-nav-bar .van-icon {
    color: #ffffff;
    vertical-align: middle;
}
.van-nav-bar__text {
    display: inline-block;
   
    color: #ffffff;
    vertical-align: middle;
}
.btn{
	position: absolute;
	bottom: 30px;
	width: 100%;
	display: flex;
	justify-content: space-around
  }
  .btnok{
	width: 140px;
	height: 44px;
  }
  .btncancel{
	width: 140px;
	height: 44px;
  }